<ion-header>
	<ion-navbar>
		<ion-title>Detalles de la nota</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
	
	<img [src]="note.image" *ngIf="note.image" (click)="takePicture()" />
	<button (click)="takePicture()" *ngIf="!note.image" class="image-btn" >Tomar foto</button>



	<ion-item>
		<ion-label stacked>Titulo de la nota</ion-label>
		<ion-input type="text" [(ngModel)]="note.title"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label stacked>Contenido de la nota</ion-label>
		<ion-textarea rows="7" stacked [(ngModel)]="note.text"></ion-textarea>
	</ion-item>

	<button (click)="addNote()" *ngIf="action == 'new'" margin-top ion-button block color="primary">Guardar nota</button>

	<button (click)="updateNote()" *ngIf="action == 'update'" margin-top ion-button block color="primary">Actualizar nota</button>

	<ion-footer text-right padding-right padding-bottom>
		<button (click)="showConfirm()" *ngIf="action == 'update'" margin-top ion-button color="danger">Borrar nota</button>
	</ion-footer>

</ion-content>

